body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: white;
}

/* Hero Section */
.hero {
  background-color: #D9A21B;
  text-align: center;
  padding: 70px 20px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 15px;
}
